@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    background-color: #80DCA4;
}

header{
    background-image: linear-gradient(to top, #005031, #80DCA4 );
    border-radius: 0px;
    box-shadow: 5px 5px 15px #00111893;
    padding: 1px 5px 5px 5px;
    margin: none;
    color: white;
    text-align: center;
}

#titulo{
    color: white;
}

nav{
    padding: 4px;
    text-align: left;
}

a{
    color: white;
}
main{
    background-color: white;
    width: 847px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #005031;
}

#nome{
color: #005031;
}

h1.fonte{
    font-family: idroid;
    src: url(fontes/idroid.otf) format("opentype");
    font-size: normal;
    font-weight: normal;
    color: #005031;
}

h2{
    font-family: idroid;
    src: url(fontes/idroid.otf) format("opentype");
    font-size: normal;
    font-weight: normal;
    color: #005031;
}

h2#cor{
    background-color: #80DCA4;
}


footer{
    text-align: center;

}